
/* === QWidget === */

QPushButton {
    background-color: red;
    border-style: outset;
    border-width:2px;
    border-radius:10px;
    border-color: beige;
    font: bold 14px;
    min-width:5em;
    padding:6px;
    }

QPushButton:pressed {
    background-color: rgb(230, 14, 14);
    border-style: inset;
    }

QComboBox{
border:1px solid gray;
border-radius:3px;
padding:1px18px1px3px;
min-width:6em;
}